body{
  line-height: 1.5;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  border-right: 5px ridge;
}

#navbar header {
  font-size: 1.5em;
  text-align: center;
  color:rgb(58, 2, 58) ;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  }


#navbar li {
  background-color:rgb(58, 2, 58) ;
  position: relative;
  width: 100%;
  list-style: none;
  border-top: 1px solid white;
}

#navbar a {
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  padding:10px 30px;
}

#main-doc{
  margin-left: 275px;
}

section header {
  font-size: 2em;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
}

section article {
  margin: 15px;
}

section p {
  font-size: 18px;
}

section code {
  font-size: 12px;
  padding: 2px;
  color: rgb(255, 255, 255);
  background-color:rgb(49, 49, 49);
}

section pre {
  font-size: 12px;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color:rgb(53, 53, 53);
}

@media only screen 
  and (max-width: 780px) {

  #navbar {
    position: static;
    border: none;
    display: inline;
  }
  #main-doc {
    margin-left: 0px;
    margin: 10px;
  }

  section header{
    font-size: 1.5em;
  }

  section p{
    font-size: 1em;
  }

}